* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html,
body {
    width           : 100%;
    overflow        : hidden;
    min-height      : 100vh;
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: #FFFF99;
}

.guagua {
    width              : 50%;
    max-width          : 414px;
    min-width          : 320px;
    margin             : 0 auto;
    background-image   : url('./image/9PWTsHg.jpg');
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
    padding            : 0 0 80px 0;
    box-shadow         : 0 0 10px #111;
}

.top {
    padding: 20px;
}

.gameTitle {
    background-image   : url('./image/G9Fz59p.png');
    background-repeat  : no-repeat;
    background-size    : contain;
    background-position: center;
    height             : 104px;
}

.myContent {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

#myCanvas {
    position: absolute;
}

footer{
    color: #FFE401
}